@tailwind base;
@tailwind components;
@tailwind utilities;

header {
    position: relative;
}

.ondas {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.Icone2 {
    animation: movaIcone2 4s ease-in-out infinite alternate
}

@keyframes movaIcone2 {
    from {
        transform: translate(15px, 15px)
    }
    to {
        transform: translate(0, 0px)
    }
}

.Icone {
    animation: movaIcone 2s ease-in-out infinite alternate
}

@keyframes movaIcone {
    from {
        transform: translate(10px, 10px)
    }
    to {
        transform: translate(0, -5px)
    }
}

.scroll {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.section {
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}
  
.section {
    object-fit: cover;
    object-position: center;
    width: 100%;
}
