@tailwind base;
@tailwind components;
@tailwind utilities;

header {
    position: relative;
}

.ondas {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.onda2 {
    animation: movaOnda2 10s ease-in-out infinite alternate
}

@keyframes movaOnda2 {
    from {
        transform: translateX(200px)
    }
}