@tailwind base;
@tailwind components;
@tailwind utilities;

header {
    position: relative;
}

.ondas {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #27272a;
}

::-webkit-scrollbar-thumb {
    background: #2563eb;
    border-radius: 6px;
}

.scroll {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.section {
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.section {
    object-fit: cover;
    object-position: center;
    width: 100%;
}

@keyframes acenando {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(0px) rotate(10deg);
    }

    75% {
        transform: translateX(0px) rotate(-10deg);
    }

    100% {
        transform: translateX(0);
    }
}

.acena {
    animation: acenando 1s ease-in-out infinite;
}

@keyframes waveMove {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.wave {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.wave-1 {
    animation: waveMove 20s linear infinite;
}

.wave-2 {
    animation: waveMove 15s linear infinite reverse;
}

/* .wave-3 {
    animation: waveMove 10s linear infinite;
} */

.wave-4 {
    animation: waveMove 10s linear infinite;
}

@keyframes float-heart {
    0% {
        transform: translateY(100vh);
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        transform: translateY(-10vh);
        opacity: 0;
    }
}

.animate-float-heart {
    animation-name: float-heart;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.outline-name {
    color: #171330;
    -webkit-text-stroke: 2px #22d3ee;
    text-shadow:
    0 0 8px rgba(34, 211, 238, 0.25);
}